<a href="https://colab.research.google.com/github/Somesh140/Web-scrapping-/blob/main/Rapid_Api_webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests

url = "https://visual-crossing-weather.p.rapidapi.com/forecast"

querystring = {"aggregateHours":"24","location":"Delhi,India","contentType":"csv","unitGroup":"us","shortColumnNames":"0"}

headers = {
	"X-RapidAPI-Key": "e53d40f1e3msh1f2eb93c6599e14p14b10fjsnad0bbbe3bceb",
	"X-RapidAPI-Host": "visual-crossing-weather.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

Address,Date time,Latitude,Longitude,Resolved Address,Name,Wind Direction,Minimum Temperature,Maximum Temperature,Temperature,Wind Speed,Cloud Cover,Heat Index,Chance Precipitation (%),Precipitation,Sea Level Pressure,Snow Depth,Snow,Relative Humidity,Wind Gust,Wind Chill,Conditions
"Delhi,India","02/02/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",307.0,60.2,74.6,67.5,7.5,0.0,,0.0,0.0,1015.1,0.0,0.0,35.4,17.4,,"Clear"
"Delhi,India","02/03/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",295.8,54.6,75.6,64.1,6.3,0.2,,0.0,0.0,1015.1,0.0,0.0,36.0,15.9,,"Clear"
"Delhi,India","02/04/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",294.1,56.6,77.3,65.8,6.7,0.0,,0.0,0.0,1012.7,0.0,0.0,36.6,15.2,,"Clear"
"Delhi,India","02/05/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",262.2,57.3,77.8,66.4,5.7,0.0,,0.0,0.0,1012.1,0.0,0.0,38.9,13.4,,"Clear"
"Delhi,India","02/06/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",255.7,59.6,80.3,68.4,4.7,0.0,78.9,0.0,0.0,1011.2,0.0,0.0,37.2,14.5,,"Clear"
"Delhi,India","02/07/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",300.3,59.6,78.7,67.6,7.1,0.0,,0.0,0.0,1009.5,0.0,0.0,36.4,17.4,,"Clear"
"Delhi,India","02/08/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",305.3,58.6,79.1,67.4,5.2,1.5,,0.0,0.0,1011.9,0.0,0.0,34.0,11.9,,"Clear"
"Delhi,India","02/09/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",303.9,59.1,78.9,67.2,7.8,0.0,,0.0,0.0,1013.0,0.0,0.0,30.0,19.7,,"Clear"
"Delhi,India","02/10/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",278.8,57.3,79.8,67.0,6.2,0.0,,0.0,0.0,1012.6,0.0,0.0,28.8,19.7,,"Clear"
"Delhi,India","02/11/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",232.0,59.6,82.5,69.7,4.0,0.6,80.0,0.0,0.0,1013.2,0.0,0.0,26.2,8.7,,"Clear"
"Delhi,India","02/12/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",321.6,62.3,83.9,71.4,5.1,0.0,81.1,0.0,0.0,1012.7,0.0,0.0,27.2,14.1,,"Clear"
"Delhi,India","02/13/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",301.7,61.2,82.1,70.1,7.6,0.0,79.8,0.0,0.0,1013.8,0.0,0.0,23.3,17.9,,"Clear"
"Delhi,India","02/14/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",299.7,60.0,83.0,70.0,7.3,8.3,80.4,0.0,0.0,1012.7,0.0,0.0,24.5,18.1,,"Clear"
"Delhi,India","02/15/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",232.7,61.8,85.4,72.3,2.7,1.6,82.1,0.0,0.0,1011.3,0.0,0.0,24.1,6.0,,"Clear"
"Delhi,India","02/16/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",238.5,64.1,87.3,73.9,5.7,0.7,83.8,0.0,0.0,1010.7,0.0,0.0,27.8,15.9,,"Clear"
"Delhi,India","02/17/2023",28.6341,77.2169,"Delhi, DL, India","Delhi,India",303.4,63.9,85.4,73.9,6.8,43.6,82.2,0.0,0.0,1009.8,0.0,0.0,25.0,17.4,,"Partially cloudy"

In [3]:
l=response.text.split(",")

In [4]:
import pandas as pd
pd.DataFrame(l)

                        0
0                 Address
1               Date time
2                Latitude
3               Longitude
4        Resolved Address
..                    ...
417                   0.0
418                  25.0
419                  17.4
420
421  "Partially cloudy"\n

[422 rows x 1 columns]

In [5]:
with open("weather.txt","w") as f:
  f.write(response.text)

In [6]:
pd.read_csv("/content/weather.txt")

,Address,Date time,Latitude,Longitude,Resolved Address,Name,Wind Direction,Minimum Temperature,Maximum Temperature,Temperature,...,Heat Index,Chance Precipitation (%),Precipitation,Sea Level Pressure,Snow Depth,Snow,Relative Humidity,Wind Gust,Wind Chill,Conditions
0,"Delhi,India",02/02/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",307.0,60.2,74.6,67.5,...,NaN,0.0,0.0,1015.1,0.0,0.0,35.4,17.4,NaN,Clear
1,"Delhi,India",02/03/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",295.8,54.6,75.6,64.1,...,NaN,0.0,0.0,1015.1,0.0,0.0,36.0,15.9,NaN,Clear
2,"Delhi,India",02/04/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",294.1,56.6,77.3,65.8,...,NaN,0.0,0.0,1012.7,0.0,0.0,36.6,15.2,NaN,Clear
3,"Delhi,India",02/05/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",262.2,57.3,77.8,66.4,...,NaN,0.0,0.0,1012.1,0.0,0.0,38.9,13.4,NaN,Clear
4,"Delhi,India",02/06/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",255.7,59.6,80.3,68.4,...,78.9,0.0,0.0,1011.2,0.0,0.0,37.2,14.5,NaN,Clear
5,"Delhi,India",02/07/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",300.3,59.6,78.7,67.6,...,NaN,0.0,0.0,1009.5,0.0,0.0,36.4,17.4,NaN,Clear
6,"Delhi,India",02/08/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",305.3,58.6,79.1,67.4,...,NaN,0.0,0.0,1011.9,0.0,0.0,34.0,11.9,NaN,Clear
7,"Delhi,India",02/09/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",303.9,59.1,78.9,67.2,...,NaN,0.0,0.0,1013.0,0.0,0.0,30.0,19.7,NaN,Clear
8,"Delhi,India",02/10/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",278.8,57.3,79.8,67.0,...,NaN,0.0,0.0,1012.6,0.0,0.0,28.8,19.7,NaN,Clear
9,"Delhi,India",02/11/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",232.0,59.6,82.5,69.7,...,80.0,0.0,0.0,1013.2,0.0,0.0,26.2,8.7,NaN,Clear
10,"Delhi,India",02/12/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",321.6,62.3,83.9,71.4,...,81.1,0.0,0.0,1012.7,0.0,0.0,27.2,14.1,NaN,Clear
11,"Delhi,India",02/13/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",301.7,61.2,82.1,70.1,...,79.8,0.0,0.0,1013.8,0.0,0.0,23.3,17.9,NaN,Clear
12,"Delhi,India",02/14/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",299.7,60.0,83.0,70.0,...,80.4,0.0,0.0,1012.7,0.0,0.0,24.5,18.1,NaN,Clear
13,"Delhi,India",02/15/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",232.7,61.8,85.4,72.3,...,82.1,0.0,0.0,1011.3,0.0,0.0,24.1,6.0,NaN,Clear
14,"Delhi,India",02/16/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",238.5,64.1,87.3,73.9,...,83.8,0.0,0.0,1010.7,0.0,0.0,27.8,15.9,NaN,Clear
15,"Delhi,India",02/17/2023,28.6341,77.2169,"Delhi, DL, India","Delhi,India",303.4,63.9,85.4,73.9,...,82.2,0.0,0.0,1009.8,0.0,0.0,25.0,17.4,NaN,Partially cloudy

In [10]:

import requests

url = "https://visual-crossing-weather.p.rapidapi.com/forecast"

querystring = {"aggregateHours":"24","location":"Delhi,India","contentType":"json","unitGroup":"us","shortColumnNames":"0"}

headers = {
	"X-RapidAPI-Key": "e53d40f1e3msh1f2eb93c6599e14p14b10fjsnad0bbbe3bceb",
	"X-RapidAPI-Host": "visual-crossing-weather.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"columns":{"wdir":{"id":"wdir","name":"Wind Direction","type":2,"unit":null},"uvindex":{"id":"uvindex","name":"weather_uvindex","type":2,"unit":null},"latitude":{"id":"latitude","name":"Latitude","type":2,"unit":null},"preciptype":{"id":"preciptype","name":"weather_preciptype","type":1,"unit":null},"cin":{"id":"cin","name":"weather_cin","type":2,"unit":null},"cloudcover":{"id":"cloudcover","name":"Cloud Cover","type":2,"unit":null},"pop":{"id":"pop","name":"Chance Precipitation (%)","type":2,"unit":null},"mint":{"id":"mint","name":"Minimum Temperature","type":2,"unit":"degF"},"datetime":{"id":"datetime","name":"Date time","type":3,"unit":null},"precip":{"id":"precip","name":"Precipitation","type":2,"unit":"in"},"solarradiation":{"id":"solarradiation","name":"Solar Radiation","type":2,"unit":null},"dew":{"id":"dew","name":"Dew Point","type":2,"unit":"degf"},"humidity":{"id":"humidity","name":"Relative Humidity","type":2,"unit":null},"longitude":{"id":"longitude","name":"Longitude","type":2,"unit":null},"temp":{"id":"temp","name":"Temperature","type":2,"unit":"degf"},"address":{"id":"address","name":"Address","type":1,"unit":null},"maxt":{"id":"maxt","name":"Maximum Temperature","type":2,"unit":"degF"},"visibility":{"id":"visibility","name":"Visibility","type":2,"unit":"mi"},"wspd":{"id":"wspd","name":"Wind Speed","type":2,"unit":"mph"},"severerisk":{"id":"severerisk","name":"weather_severerisk","type":2,"unit":null},"solarenergy":{"id":"solarenergy","name":"Solar Energy","type":2,"unit":null},"resolvedAddress":{"id":"resolvedAddress","name":"Resolved Address","type":1,"unit":null},"heatindex":{"id":"heatindex","name":"Heat Index","type":2,"unit":"degf"},"snowdepth":{"id":"snowdepth","name":"Snow Depth","type":2,"unit":"in"},"sealevelpressure":{"id":"sealevelpressure","name":"Sea Level Pressure","type":2,"unit":"mb"},"snow":{"id":"snow","name":"Snow","type":2,"unit":"in"},"name":{"id":"name","name":"Name","type":1,"unit":null},"wgust":{"id":"wgust","name":"Wind Gust","type":2,"unit":"mph"},"conditions":{"id":"conditions","name":"Conditions","type":1,"unit":null},"windchill":{"id":"windchill","name":"Wind Chill","type":2,"unit":"degf"},"cape":{"id":"cape","name":"weather_cape","type":2,"unit":null}},"remainingCost":0,"queryCost":1,"messages":null,"locations":{"Delhi,India":{"stationContributions":null,"values":[{"wdir":307.0,"uvindex":2.0,"datetimeStr":"2023-02-02T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.0,"pop":0.0,"mint":60.2,"datetime":1675297800000,"precip":0.0,"solarradiation":204.3,"dew":38.5,"humidity":35.4,"temp":67.5,"maxt":74.6,"visibility":15.0,"wspd":7.5,"severerisk":10.0,"solarenergy":0.7,"heatindex":null,"snowdepth":0.0,"sealevelpressure":1015.1,"snow":0.0,"wgust":17.4,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":295.8,"uvindex":1.8,"datetimeStr":"2023-02-03T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.2,"pop":0.0,"mint":54.6,"datetime":1675384200000,"precip":0.0,"solarradiation":182.9,"dew":35.9,"humidity":36.0,"temp":64.1,"maxt":75.6,"visibility":15.0,"wspd":6.3,"severerisk":10.0,"solarenergy":0.7,"heatindex":null,"snowdepth":0.0,"sealevelpressure":1015.1,"snow":0.0,"wgust":15.9,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":294.1,"uvindex":1.8,"datetimeStr":"2023-02-04T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.0,"pop":0.0,"mint":56.6,"datetime":1675470600000,"precip":0.0,"solarradiation":183.8,"dew":38.0,"humidity":36.6,"temp":65.8,"maxt":77.3,"visibility":15.0,"wspd":6.7,"severerisk":10.0,"solarenergy":0.7,"heatindex":null,"snowdepth":0.0,"sealevelpressure":1012.7,"snow":0.0,"wgust":15.2,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":262.2,"uvindex":1.8,"datetimeStr":"2023-02-05T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.0,"pop":0.0,"mint":57.3,"datetime":1675557000000,"precip":0.0,"solarradiation":187.2,"dew":39.8,"humidity":38.9,"temp":66.4,"maxt":77.8,"visibility":15.0,"wspd":5.7,"severerisk":10.0,"solarenergy":0.7,"heatindex":null,"snowdepth":0.0,"sealevelpressure":1012.1,"snow":0.0,"wgust":13.4,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":255.7,"uvindex":1.8,"datetimeStr":"2023-02-06T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.0,"pop":0.0,"mint":59.6,"datetime":1675643400000,"precip":0.0,"solarradiation":184.8,"dew":40.3,"humidity":37.2,"temp":68.4,"maxt":80.3,"visibility":15.0,"wspd":4.7,"severerisk":10.0,"solarenergy":0.7,"heatindex":78.9,"snowdepth":0.0,"sealevelpressure":1011.2,"snow":0.0,"wgust":14.5,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":300.3,"uvindex":1.8,"datetimeStr":"2023-02-07T00:30:00+05:30","preciptype":"","cin":0.1,"cloudcover":0.0,"pop":0.0,"mint":59.6,"datetime":1675729800000,"precip":0.0,"solarradiation":189.6,"dew":39.3,"humidity":36.4,"temp":67.6,"maxt":78.7,"visibility":15.0,"wspd":7.1,"severerisk":10.0,"solarenergy":0.7,"heatindex":null,"snowdepth":0.0,"sealevelpressure":1009.5,"snow":0.0,"wgust":17.4,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":305.3,"uvindex":1.8,"datetimeStr":"2023-02-08T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":1.5,"pop":0.0,"mint":58.6,"datetime":1675816200000,"precip":0.0,"solarradiation":191.1,"dew":37.3,"humidity":34.0,"temp":67.4,"maxt":79.1,"visibility":15.0,"wspd":5.2,"severerisk":10.0,"solarenergy":0.7,"heatindex":null,"snowdepth":0.0,"sealevelpressure":1011.9,"snow":0.0,"wgust":11.9,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":303.9,"uvindex":1.9,"datetimeStr":"2023-02-09T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.0,"pop":0.0,"mint":59.1,"datetime":1675902600000,"precip":0.0,"solarradiation":196.5,"dew":34.0,"humidity":30.0,"temp":67.2,"maxt":78.9,"visibility":15.0,"wspd":7.8,"severerisk":10.0,"solarenergy":0.7,"heatindex":null,"snowdepth":0.0,"sealevelpressure":1013.0,"snow":0.0,"wgust":19.7,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":278.8,"uvindex":1.9,"datetimeStr":"2023-02-10T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.0,"pop":0.0,"mint":57.3,"datetime":1675989000000,"precip":0.0,"solarradiation":199.9,"dew":32.7,"humidity":28.8,"temp":67.0,"maxt":79.8,"visibility":15.0,"wspd":6.2,"severerisk":10.0,"solarenergy":0.7,"heatindex":null,"snowdepth":0.0,"sealevelpressure":1012.6,"snow":0.0,"wgust":19.7,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":232.0,"uvindex":1.9,"datetimeStr":"2023-02-11T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.6,"pop":0.0,"mint":59.6,"datetime":1676075400000,"precip":0.0,"solarradiation":195.4,"dew":32.6,"humidity":26.2,"temp":69.7,"maxt":82.5,"visibility":15.0,"wspd":4.0,"severerisk":10.0,"solarenergy":0.7,"heatindex":80.0,"snowdepth":0.0,"sealevelpressure":1013.2,"snow":0.0,"wgust":8.7,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":321.6,"uvindex":1.9,"datetimeStr":"2023-02-12T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.0,"pop":0.0,"mint":62.3,"datetime":1676161800000,"precip":0.0,"solarradiation":195.5,"dew":35.0,"humidity":27.2,"temp":71.4,"maxt":83.9,"visibility":15.0,"wspd":5.1,"severerisk":10.0,"solarenergy":0.7,"heatindex":81.1,"snowdepth":0.0,"sealevelpressure":1012.7,"snow":0.0,"wgust":14.1,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":301.7,"uvindex":2.0,"datetimeStr":"2023-02-13T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.0,"pop":0.0,"mint":61.2,"datetime":1676248200000,"precip":0.0,"solarradiation":200.4,"dew":30.3,"humidity":23.3,"temp":70.1,"maxt":82.1,"visibility":15.0,"wspd":7.6,"severerisk":10.0,"solarenergy":0.7,"heatindex":79.8,"snowdepth":0.0,"sealevelpressure":1013.8,"snow":0.0,"wgust":17.9,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":299.7,"uvindex":2.0,"datetimeStr":"2023-02-14T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":8.3,"pop":0.0,"mint":60.0,"datetime":1676334600000,"precip":0.0,"solarradiation":203.4,"dew":31.5,"humidity":24.5,"temp":70.0,"maxt":83.0,"visibility":15.0,"wspd":7.3,"severerisk":10.0,"solarenergy":0.7,"heatindex":80.4,"snowdepth":0.0,"sealevelpressure":1012.7,"snow":0.0,"wgust":18.1,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":232.7,"uvindex":2.0,"datetimeStr":"2023-02-15T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":1.6,"pop":0.0,"mint":61.8,"datetime":1676421000000,"precip":0.0,"solarradiation":200.8,"dew":32.8,"humidity":24.1,"temp":72.3,"maxt":85.4,"visibility":15.0,"wspd":2.7,"severerisk":10.0,"solarenergy":0.7,"heatindex":82.1,"snowdepth":0.0,"sealevelpressure":1011.3,"snow":0.0,"wgust":6.0,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":238.5,"uvindex":2.0,"datetimeStr":"2023-02-16T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":0.7,"pop":0.0,"mint":64.1,"datetime":1676507400000,"precip":0.0,"solarradiation":202.6,"dew":37.4,"humidity":27.8,"temp":73.9,"maxt":87.3,"visibility":15.0,"wspd":5.7,"severerisk":10.0,"solarenergy":0.7,"heatindex":83.8,"snowdepth":0.0,"sealevelpressure":1010.7,"snow":0.0,"wgust":15.9,"conditions":"Clear","windchill":null,"cape":0.0},{"wdir":303.4,"uvindex":1.9,"datetimeStr":"2023-02-17T00:30:00+05:30","preciptype":"","cin":0.0,"cloudcover":43.6,"pop":0.0,"mint":63.9,"datetime":1676593800000,"precip":0.0,"solarradiation":197.0,"dew":35.4,"humidity":25.0,"temp":73.9,"maxt":85.4,"visibility":15.0,"wspd":6.8,"severerisk":10.0,"solarenergy":0.7,"heatindex":82.2,"snowdepth":0.0,"sealevelpressure":1009.8,"snow":0.0,"wgust":17.4,"conditions":"Partially cloudy","windchill":null,"cape":0.0}],"id":"Delhi,India","address":"Delhi, DL, India","name":"Delhi,India","index":0,"latitude":28.6341,"longitude":77.2169,"distance":0.0,"time":0.0,"tz":"Asia/Kolkata","currentConditions":{"wdir":270.0,"temp":70.3,"sunrise":"2023-02-02T07:09:04+05:30","visibility":1.2,"wspd":11.4,"icon":"clear-day","stations":"","heatindex":null,"cloudcover":null,"datetime":"2023-02-02T13:39:36+05:30","precip":null,"moonphase":0.46,"snowdepth":null,"sealevelpressure":1017.0,"dew":47.1,"sunset":"2023-02-02T18:00:53+05:30","humidity":43.6,"wgust":null,"windchill":null},"alerts":null}}}

In [12]:
pd.DataFrame(response.json()['locations'])[['']]

                                                            Delhi,India
address                                                Delhi, DL, India
alerts                                                             None
currentConditions     {'wdir': 270.0, 'temp': 70.3, 'sunrise': '2023...
distance                                                            0.0
id                                                          Delhi,India
index                                                                 0
latitude                                                        28.6341
longitude                                                       77.2169
name                                                        Delhi,India
stationContributions                                               None
time                                                                0.0
tz                                                         Asia/Kolkata
values                [{'wdir': 307.0, 'uvindex': 2.0, 'datetimeStr'...

In [18]:
pd.DataFrame(response.json()['locations']['Delhi,India']['values'])

,wdir,uvindex,datetimeStr,preciptype,cin,cloudcover,pop,mint,datetime,precip,...,severerisk,solarenergy,heatindex,snowdepth,sealevelpressure,snow,wgust,conditions,windchill,cape
0,307.0,2.0,2023-02-02T00:30:00+05:30,,0.0,0.0,0.0,60.2,1675297800000,0.0,...,10.0,0.7,NaN,0.0,1015.1,0.0,17.4,Clear,None,0.0
1,295.8,1.8,2023-02-03T00:30:00+05:30,,0.0,0.2,0.0,54.6,1675384200000,0.0,...,10.0,0.7,NaN,0.0,1015.1,0.0,15.9,Clear,None,0.0
2,294.1,1.8,2023-02-04T00:30:00+05:30,,0.0,0.0,0.0,56.6,1675470600000,0.0,...,10.0,0.7,NaN,0.0,1012.7,0.0,15.2,Clear,None,0.0
3,262.2,1.8,2023-02-05T00:30:00+05:30,,0.0,0.0,0.0,57.3,1675557000000,0.0,...,10.0,0.7,NaN,0.0,1012.1,0.0,13.4,Clear,None,0.0
4,255.7,1.8,2023-02-06T00:30:00+05:30,,0.0,0.0,0.0,59.6,1675643400000,0.0,...,10.0,0.7,78.9,0.0,1011.2,0.0,14.5,Clear,None,0.0
5,300.3,1.8,2023-02-07T00:30:00+05:30,,0.1,0.0,0.0,59.6,1675729800000,0.0,...,10.0,0.7,NaN,0.0,1009.5,0.0,17.4,Clear,None,0.0
6,305.3,1.8,2023-02-08T00:30:00+05:30,,0.0,1.5,0.0,58.6,1675816200000,0.0,...,10.0,0.7,NaN,0.0,1011.9,0.0,11.9,Clear,None,0.0
7,303.9,1.9,2023-02-09T00:30:00+05:30,,0.0,0.0,0.0,59.1,1675902600000,0.0,...,10.0,0.7,NaN,0.0,1013.0,0.0,19.7,Clear,None,0.0
8,278.8,1.9,2023-02-10T00:30:00+05:30,,0.0,0.0,0.0,57.3,1675989000000,0.0,...,10.0,0.7,NaN,0.0,1012.6,0.0,19.7,Clear,None,0.0
9,232.0,1.9,2023-02-11T00:30:00+05:30,,0.0,0.6,0.0,59.6,1676075400000,0.0,...,10.0,0.7,80.0,0.0,1013.2,0.0,8.7,Clear,None,0.0
10,321.6,1.9,2023-02-12T00:30:00+05:30,,0.0,0.0,0.0,62.3,1676161800000,0.0,...,10.0,0.7,81.1,0.0,1012.7,0.0,14.1,Clear,None,0.0
11,301.7,2.0,2023-02-13T00:30:00+05:30,,0.0,0.0,0.0,61.2,1676248200000,0.0,...,10.0,0.7,79.8,0.0,1013.8,0.0,17.9,Clear,None,0.0
12,299.7,2.0,2023-02-14T00:30:00+05:30,,0.0,8.3,0.0,60.0,1676334600000,0.0,...,10.0,0.7,80.4,0.0,1012.7,0.0,18.1,Clear,None,0.0
13,232.7,2.0,2023-02-15T00:30:00+05:30,,0.0,1.6,0.0,61.8,1676421000000,0.0,...,10.0,0.7,82.1,0.0,1011.3,0.0,6.0,Clear,None,0.0
14,238.5,2.0,2023-02-16T00:30:00+05:30,,0.0,0.7,0.0,64.1,1676507400000,0.0,...,10.0,0.7,83.8,0.0,1010.7,0.0,15.9,Clear,None,0.0
15,303.4,1.9,2023-02-17T00:30:00+05:30,,0.0,43.6,0.0,63.9,1676593800000,0.0,...,10.0,0.7,82.2,0.0,1009.8,0.0,17.4,Partially cloudy,None,0.0